<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">GitHub Dashboard v{{Dashboard.VERSION}}</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="https://github.com/pangratz/dashboard">Show on GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="main" role="main" class="container">
  dashboard v{{Dashboard.VERSION}}
</div>
